---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Guideline from "../components/Guideline.astro";
import Guidelines from "../components/Guidelines.astro";
import PageTitle from "../components/PageTitle.astro";
import Pagination from "../components/Pagination.astro";

// レベル1
import * as alternativeText from "../content/guidelines/impl/alternative-text.mdx";
import * as backgroundImage from "../content/guidelines/impl/background-image.mdx";
import * as pageTitle from "../content/guidelines/impl/page-title.mdx";
import * as heading from "../content/guidelines/impl/heading.mdx";
import * as languageOfPage from "../content/guidelines/impl/language-of-page.mdx";

// レベル2

// レベル3

---

<DefaultLayout title="実装–マークアップ">
  <PageTitle>
    <span slot="sub">実装</span>
    マークアップ
  </PageTitle>
  <p>
    マークアップとスタイリングの実装に関するガイドラインです。
  </p>

  <Guidelines level={1}>
    <Guideline guideline={alternativeText} />
    <Guideline guideline={backgroundImage} />
    <Guideline guideline={pageTitle} />
    <Guideline guideline={heading} />
    <Guideline guideline={languageOfPage} />
  </Guidelines>

  <Guidelines level={2}></Guidelines>

  <Guidelines level={3}></Guidelines>

  <Pagination current={Astro.url.href} />
</DefaultLayout>
