---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Guideline from "../components/Guideline.astro";
import Guidelines from "../components/Guidelines.astro";
import PageTitle from "../components/PageTitle.astro";
import Pagination from "../components/Pagination.astro";

// レベル1
import * as formControlLabel from "../content/guidelines/impl/form-control-label.mdx";
import * as labellessControl from "../content/guidelines/impl/labelless-control.mdx";

// レベル2
import * as identifyInputPurpose from "../content/guidelines/impl/identify-input-purpose.mdx";
import * as groupedFormControl from "../content/guidelines/impl/grouped-form-control.mdx";
import * as allowCopyPaste from "../content/guidelines/impl/allow-copy-paste.mdx";


// レベル3
import * as formControlDescription from "../content/guidelines/impl/form-control-description.mdx";

---

<DefaultLayout title="実装–フォーム">
  <PageTitle>
    <span slot="sub">実装</span>
    フォーム
  </PageTitle>
  <p>
    フォームの実装に関するガイドラインです。
  </p>

  <Guidelines level={1}>
    <Guideline guideline={formControlLabel} />
    <Guideline guideline={labellessControl} />
  </Guidelines>

  <Guidelines level={2}>
    <Guideline guideline={identifyInputPurpose} />
    <Guideline guideline={groupedFormControl} />
    <Guideline guideline={allowCopyPaste} />
  </Guidelines>

  <Guidelines level={3}>
    <Guideline guideline={formControlDescription} />
  </Guidelines>

  <Pagination current={Astro.url.href} />
</DefaultLayout>
