---
import { randomId } from "../helpers/string-helpers.js";
const { guideline } = Astro.props;
const { title, level, slug } = guideline.frontmatter;
---

<article class="container" data-controller="disclosure">
	<h3 id={slug}>
		<button
			class="button"
			type="button"
			aria-expanded="false"
			aria-controls={`${slug}-content`}
			data-action="disclosure#toggle"
			data-disclosure-target="button"
		>
			{title}
		</button>
	</h3>
	<div
		id={`${slug}-content`}
		class="content"
		hidden="until-found"
		data-action="beforematch->disclosure#expand"
		data-disclosure-target="content"
	>
		<p>レベル{level}</p>

		<guideline.Content />
	</div>
</article>

<style>
	.container {
		border: 1px solid;
		padding: 1rem;
	}
	.button {
		display: block;
		width: 100%;
		border: 0;
		background: none;
		padding: 0;
		font: inherit;
		text-align: left;
	}
	:global(.no-js) .content {
		content-visibility: visible;
	}
</style>
