---
import lifullLogo from "../assets/images/lifull-logo.svg";
import logoH from "../assets/images/logo-h.svg";
import logoV from "../assets/images/logo-v.svg";
import openBlank from "../assets/images/open-blank.svg";
import { version } from "../../package.json"
---

<header class="header">
  <div class="header-inner">
    <a class="home-link" href="/">
      <span class="logo-container">
        <img
          class="logo-lifull"
          src={lifullLogo.src}
          alt="LIFULL"
          width={lifullLogo.width}
          height={lifullLogo.height}
        />
      </span>
      <picture class="logo">
        <source
          media="(min-width: 1024px)"
          srcset={logoV.src}
          width={logoV.width}
          height={logoV.height}
        />
        <img
          src={logoH.src}
          alt="Accessibility Guidelines"
          width={logoH.width}
          height={logoH.height}
        />
      </picture>
    </a>
    <nav id="nav" data-controller="disclosure">
      <button
        class="nav-button"
        type="button"
        aria-controls="nav-content"
        aria-expanded="false"
        aria-label="メニュー"
        data-disclosure-target="button"
        data-action="disclosure#toggle"
      >
        <span class="nav-button-icon"></span>
      </button>
      <div
        id="nav-content"
        class="nav-content"
        hidden
        data-disclosure-target="content"
      >
        <p>ガイドラインについて</p>
        <ul>
          <li><a href="/introduction">はじめに</a></li>
          <li><a href="/usage">利用方法</a></li>
        </ul>
        <p>デザイン</p>
        <ul>
          <li><a href="/design-contents">コンテンツ</a></li>
          <li>
            <a href="/design-forms-and-interactions">
              フォーム・インタラクション
            </a>
          </li>
          <li><a href="/design-visual">ビジュアル</a></li>
        </ul>
        <p>実装</p>
        <ul>
          <li><a href="/impl-markup">マークアップ</a></li>
          <li><a href="/impl-forms">フォーム</a></li>
          <li><a href="/impl-interactions">インタラクション</a></li>
        </ul>
        <p>更新履歴</p>
        <ul>
          <li>
            <a href="https://github.com/lifull/accessibility-guidelines/releases" target="_blank">
              ver. {version}
              <img
                src={openBlank.src}
                alt="新しいタブで開く"
                width="20"
                height="20"
                loading="lazy"
                decoding="async"
                class="open-blank"
              />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<style>
  .header {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
  }

  .home-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
  }

  .logo-container {
    min-width: 0;
  }

  .logo-lifull {
    display: block;
    width: 130px;
    height: auto;
    max-width: 100%;
    margin: -5.6% 0 -5.6% -5.6%;
  }

  .logo {
    min-width: 0;
    max-width: 100%;
    height: auto;
  }
  .logo img {
    display: block;
    max-width: 100%;
  }

  .nav-button {
    margin-inline: auto;
    display: block;
    width: 3rem;
    height: 3rem;
    border: 0;
    padding: 0.5rem;
    background: none;
  }

  .nav-button-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-icon);
    -webkit-mask-image: var(--icon-menu-open);
    mask-image: var(--icon-menu-open);
  }
  [aria-expanded="true"] .nav-button-icon {
    -webkit-mask-image: var(--icon-menu-close);
    mask-image: var(--icon-menu-close);
  }

  .nav-content p {
    margin-top: calc(2rem - 1.125rem * 0.3 - 1rem * 0.3);
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: bold;
  }

  .nav-content ul {
    margin-block: 0;
    padding-left: 1rem;
  }

  .nav-content li {
    margin-block: calc(1.5rem - 1rem * 0.6);
    list-style-type: none;
  }

  .nav-content a:link,
  .nav-content a:visited {
    color: inherit;
    text-decoration: none;
  }

  .nav-content a:hover {
    color: var(--color-primary);
  }
  
  .open-blank {
    vertical-align: middle;
  }

  @media (min-width: 1024px) {
    .header {
      grid-column: 1 / 3;
      position: sticky;
      top: 0;
      bottom: 0;
      box-sizing: border-box;
      height: 100vh;
      height: 100dvh;
      overflow-y: auto;
      padding-block: 3rem;
    }

    .header-inner {
      margin-left: auto;
      width: 240px;
    }

    .home-link {
      display: block;
    }

    .logo-lifull {
      width: 208px;
    }

    .logo img {
      margin-top: 1.5rem;
    }

    .nav-button {
      display: none;
    }

    .nav-content {
      display: block;
      margin-top: 3rem;
      color: #626262;
    }
  }
</style>
